---
layout: default
---

<div class='flex items-center hero text-white min-h-screen w-full p-4 flex-wrap'>
	<div class='p-2 md:p-8 flex-1'>
		<h3 class='my-2 font-bold text-4xl leading-none md:leading-normal'>Manejador de Tareas</h3>
		<h1 class='my-4 md:my-0 text-5xl leading-none md:leading-tight'>Maneja tus tareas escolares.</h1>
		<p class='my-2 text-2xl leading-tight md:leading-snug'>
			Manejador de Tareas es una aplicación gratuita que permite a grupos escolares
			compartir las tareas actuales y recursos (como fotos de libros) fácilmente.
		</p>
		<div class='mt-6 flex flex-col items-center'>
			<a href='//app.tareas.nulo.in' class='inline-flex items-center bg-white hover:shadow-xl text-blue-500 hover:text-blue-500 text-2xl font-bold py-2 px-4 rounded leading-none no-underline'>
				Abrir aplicación
				<span class='h-full ml-2' style='width: 2.25rem'>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><path d="M5 13h11.86l-3.63 4.36a1 1 0 001.54 1.28l5-6a1.19 1.19 0 00.09-.15c0-.05.05-.08.07-.13A1 1 0 0020 12a1 1 0 00-.07-.36c0-.05-.05-.08-.07-.13a1.19 1.19 0 00-.09-.15l-5-6A1 1 0 0014 5a1 1 0 00-.64.23 1 1 0 00-.13 1.41L16.86 11H5a1 1 0 000 2z" data-name="arrow-forward"/></g></svg>
				</span>
			</a>
			<span class='mx-4 text-lg font-semibold'>(es gratuita!)</span>
		</div>
	</div>
	<img class='mx-auto rounded-lg shadow-lg w-md' style='max-height: calc(100vh - 2rem)' src='/assets/screenshot.webp' alt='una captura de pantalla de la aplicación, mostrando un grupo falso'>
</div>
<div class='py-2 px-4 pb-6 bg-gray-200'>
	<div class='text-gray-900 my-3 mx-2'>
		<h2 class='text-3xl font-bold'>Nuestro blog.</h2>
		<p class='text-2xl'>Posteamos actualizaciones y cosas que aprendemos haciendo el Manejador.</p>
	</div>
	<div class='flex flex-col sm:flex-row items-center justify-around'>
		{% for post in site.posts limit: 3 %}
			<a class='flex flex-col justify-between no-underline bg-white mx-2 my-2 sm:my-0 sm:w-1/3 text-2xl flex-grow rounded-lg overflow-hidden shadow-lg' href="{{ post.url }}" style='max-width:400px'>
				<img class='w-full' data-src="{{ post.image }}" width="1920" height="1080" alt=''>
				<p class='p-4 pt-3 text-gray-900'>
					{{ post.title }}
					<small class='block text-gray-800 leading-none'>
						{{ post.date | date_to_long_string }}
					</small>
				</p>
			</a>
		{% endfor %}
	</div>
</div>
