<!doctype html>
<html lang='es'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {% feed_meta %}
    {% seo %}
    <link rel="stylesheet" href="/css/site.css">
    <script>var w=window;w.lazyLoadOptions={};w.addEventListener('LazyLoad::Initialized',function(event){w.lazyLoadInstance=event.detail.instance},false);document.addEventListener("turbolinks:load",function(){w.lazyLoadInstance.update()})</script>
    <script async src="/js/lazyload.min.js"></script>
  </head>
  <body class='m-0 flex flex-col min-h-screen {% if page.id %}bg-gray-100{% endif %}'>
    <section class='flex-grow'>
      {{ content }}
    </section>
    <footer class='{% if page.id %}bg-gray-200 text-gray-800{% else %}bg-gray-800 text-gray-200{% endif %} text-center p-3'>
      Este sitio está bajo una
      <a
        {% if page.id %}{% else %}class='text-blue-200 hover:text-blue-400'{% endif %}
        rel='noopener'
        target='_blank'
        href='https://creativecommons.org/licenses/by-nc-sa/4.0/'
      >
        Licencia Creative Commons BY-NC-SA 4.0 Internacional</a>.
    </footer>
  </body>
</html>
