---
layout: default
---

<article class='max-w-2xl mx-auto'>
	<a href='/' class='flex text-gray-800 no-underline hover:bg-gray-200 p-2 justify-center md:m-2 md:p-1 md:rounded'>
		<span class='h-6 inline-block mr-1'>
			<svg class='h-full' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><path d="M19 11H7.14l3.63-4.36a1 1 0 10-1.54-1.28l-5 6a1.19 1.19 0 00-.09.15c0 .05 0 .08-.07.13A1 1 0 004 12a1 1 0 00.07.36c0 .05 0 .08.07.13a1.19 1.19 0 00.09.15l5 6A1 1 0 0010 19a1 1 0 00.64-.23 1 1 0 00.13-1.41L7.14 13H19a1 1 0 000-2z" data-name="arrow-back"/></g></svg>
		</span>
		volver al inicio
	</a>
	<a href="{{ page.image }}">
		<img class='w-full bg-gray-500 md:rounded' src="{{ page.image }}" width="1920" height="1080" loading="lazy">
	</a>
	<div class='content mx-auto p-3 text-lg'>
		<header class='mt-2 mb-4'>
			<h1 class='font-bold text-3xl'>{{ page.title }}</h1>
			<small class='text-gray-800'>{{ page.date | format_date_spanish }}</small>
			<p class='text-gray-700 text-xl'>{{ page.description }}</p>
		</header>
		{{ content }}
	</div>
</article>
